.rating-pill {
  font-size: small;
  margin-left: 2px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.rating-pill a {
  padding: 0px;
  margin: auto 4px auto 0px;
}

.rating-pill a:link,
.rating-pill a:active,
.rating-pill a:visited {
  color: #fff;
}

.rating-pill a:hover {
  color: #fff;
}

.rating-pill h4 {
  color: #fff;
  font-size: smaller;
  margin: auto 4px auto 0px;
  padding: 0px;
  display: unset;
}

.tr-info {
  background: darkblue;
}

.tr-info a:hover {
  background: darkblue;
}

.tr-info h4 {
  background-color: blueviolet;
}

.utr-info {
  background: #1a6b3c;
}

.utr-info a:hover {
  background: #1a6b3c;
}

.utr-info h4 {
  background-color: #0d3d22;
}